*{
    box-sizing: border-box;
}

html,body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
        height: 90vh;
    width: 100vw;
}

.container{
    margin:1rem;
}

.state-one{
    display: flex;
    flex-flow: column wrap;
        & > .box{
            flex: 1 0 10rem;
            background-color: lightcoral;
            &[data-state='inactive']{
                opacity: .5;
            }
        &[data-state='active']{
            opacity: 1;
        }
        &:after{
            content: 'state:' attr(data-state);
        }
    }

}